* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  color: #252525;
}

::selection {
  background-color: #252525;
  color:#fff;
}

.triangle-down {
  font-size: 10px;
}

p{
  word-wrap:break-word;
}

ul,
ol {
  list-style: none;
}

hr {
  margin: 0.25em auto;
}

pre,
.important-para {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align:left;
  background-color: #fff;
  color: #252525;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
}

#spoiler-toggle {
  border: none;
  padding: 1em;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.125s ease-in-out;
}
#spoiler-toggle:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 4px 4px -1px #000;
}
#spoiler-toggle:active {
  background-color: #fff;
  box-shadow: 0px 2px 2px -1px #000;
}
#spoiler-toggle:focus {
  background-color: #fff;
  box-shadow: 0px 0px 4px -1px #000;
}

#spoiler {
  display: none;
}

.main-head {
  width: 100vw;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.15em;
  background-color: #dcecfa;
}
.main-head-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav {
  width: 100%;
  padding: 0.25em 0.15em;
}
.main-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.main-menu-items {
  position: relative;
}
.main-menu-links {
  color: #252525;
  font-weight: 500;
}

#menu-part-1:hover > .main-menu-part-1,
#menu-part-2:hover > .main-menu-part-2,
#menu-part-3:hover > .main-menu-part-3,
#menu-part-4:hover > .main-menu-part-4,
#menu-part-5:hover > .main-menu-part-5,
#menu-part-6:hover > .main-menu-part-6,
#menu-part-7:hover > .main-menu-part-7,
#menu-part-8:hover > .main-menu-part-8,
#menu-part-9:hover > .main-menu-part-9,
#menu-part-10:hover > .main-menu-part-10 {
  cursor: pointer;
  display: flex;
}

.main-menu-part-1,
.main-menu-part-2,
.main-menu-part-3,
.main-menu-part-4,
.main-menu-part-5,
.main-menu-part-6,
.main-menu-part-7,
.main-menu-part-8,
.main-menu-part-9,
.main-menu-part-10 {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.1em;
  background-color: #fff;
  padding: 0.5em;
  position: absolute;
  z-index:2;
}
.main-menu-part-1 .main-menu-items,
.main-menu-part-2 .main-menu-items,
.main-menu-part-3 .main-menu-items,
.main-menu-part-4 .main-menu-items,
.main-menu-part-5 .main-menu-items,
.main-menu-part-6 .main-menu-items,
.main-menu-part-7 .main-menu-items,
.main-menu-part-8 .main-menu-items,
.main-menu-part-9 .main-menu-items,
.main-menu-part-10 .main-menu-items {
  width: 100%;
  text-align: center;
  z-index:3;
}
.main-menu-part-1 .main-menu-items:hover,
.main-menu-part-2 .main-menu-items:hover,
.main-menu-part-3 .main-menu-items:hover,
.main-menu-part-4 .main-menu-items:hover,
.main-menu-part-5 .main-menu-items:hover,
.main-menu-part-6 .main-menu-items:hover,
.main-menu-part-7 .main-menu-items:hover,
.main-menu-part-8 .main-menu-items:hover,
.main-menu-part-9 .main-menu-items:hover,
.main-menu-part-10 .main-menu-items:hover {
  text-decoration: underline;
  background-color: #d1d1d1;
}

.main-content {
  width: 100vw;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 1em;
  background-color: #f0f8ff;
  font-size: 17px;
}

.main-sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  background-color: #252525;
  color: #f3f3f3;
  padding: 0.5em;
}
.main-sections-description {
  max-width: 40rem;
  font-weight: 300;
  padding: 0.25em 0.5em;
  line-height: 26px;
  text-align: center;
}

.main-articles {
  width: 100%;
  background-color: #c6cedf;
  color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25em;
  padding: 0.5em;
  text-align: center;
}

.main-articles-title {
  width: 100%;
}

form{
  width:calc(100% - 2em);
  display:grid;
  grid-template-columns:repeat(12,1fr);
  grid-auto-rows:minmax(5px, auto);
  grid-auto-flow:row dense;
  gap:0.5em;
  padding:0.25em;
  background-color:#dec7cb;
  border-radius:5px;
  box-shadow:
    0px 0px 2px -1px #000,
    0px 1px 2px -1px #000,
    0px 2px 4px -2px #000;
}
form label{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  grid-column:1/-1;
  font-family:monospace;
  font-size:1.05em;
}
form select{
  width:100%;
  min-height:5vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  text-align-last:center;
  padding:1em;
  grid-column:4 /-4;
  border:none;
  border-radius:5px;
  font-family:monospace;
  font-size:1.05em;
  font-weight:700;
}
form fieldset{
  display:grid;
  grid-template-columns:repeat(12,1fr);
  grid-auto-rows:minmax(5px, auto);
  grid-auto-flow:row dense;
  gap:0.5em;
  grid-column:1 /-1;
}
form fieldset legend{
  width:calc(100% - 0.5em);
  border:none;
  grid-column:1/-1;
}
form input{
  width:100%;
  min-height:5vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:1em;
  grid-column:4 /-4;
  border:none;
  border-radius:5px;
  font-family:monospace;
  font-size:1.05em;
}
form input[type="submit"]{
  grid-column:6 /-6;
  padding:0.10em 0.15em;
  background-color:#ff7062;
  color:#fff;
  font-size:1.15em;
  box-shadow:
  0px 0px 2px -1px #252525,
  0px 0px 4px -1px #252525;
  outline:none;
}
form input[type="submit"]:hover{
  cursor:pointer;
  background-color:#fd5f51;
  box-shadow:
  0px 0px 2px -1px #252525,
  0px 0px 3px 0px #252525;
}
form input[type="submit"]:active{
  box-shadow:
  0px 0px 2px -1px #25252575,
  0px 0px 4px -1px #25252575,
  inset 0px 0px 4px -1px #ffffff33,
  inset 0px 0px 4px -1px #252525,
  inset 4px 4px 4px -1px #252525,
  inset -4px -4px 4px -1px #fff;
}

.file-errors{
  color:crimson;
}

.confirm-action{
  color:lightgreen;
}

@media all and (max-width:960px){
form input{
  grid-column:2/-2;
}
form input[type="submit"]{
  grid-column:3 /-3;
}
}
@media all and (max-width:720px){
  form input{
    grid-column:2/-2;
  }
  form input[type="submit"]{
    grid-column:4 /-4;
  }
}