<ul class="main-menu">
  <li class="main-menu-items" id="menu-part-1">
    Partie 1 : Variables <i class="triangle-down">▼</i>
    <ul class="main-menu-part-1">
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-2">
    Partie 2 : Conditions <i class="triangle-down">▼</i>
    <ul class="main-menu-part-2">
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
    </ul>
  </li>
</ul>
