<ul class="main-menu">
  <li class="main-menu-items" id="menu-part-1">
    Partie 1 : Variables <i class="triangle-down">▼</i>
    <ul class="main-menu-part-1">
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie1&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-2">
    Partie 2 : Conditions <i class="triangle-down">▼</i>
    <ul class="main-menu-part-2">
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie2&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-3">
    Partie 3 : Les boucles <i class="triangle-down">▼</i>
    <ul class="main-menu-part-3">
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice9" class="main-menu-links"> Exercice 9 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie3&page=exercice10" class="main-menu-links"> Exercice 10 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-4">
    Partie 4 : Les fonctions <i class="triangle-down">▼</i>
    <ul class="main-menu-part-4">
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice9" class="main-menu-links"> Exercice 9 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie4&page=exercice10" class="main-menu-links"> Exercice 10 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-5">
    Partie 5 : Les tableaux <i class="triangle-down">▼</i>
    <ul class="main-menu-part-5">
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice9" class="main-menu-links"> Exercice 9 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie5&page=exercice10" class="main-menu-links"> Exercice 10 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-6">
    Partie 6 : Les formulaires <i class="triangle-down">▼</i>
    <ul class="main-menu-part-6">
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie6&page=exercice9" class="main-menu-links"> Exercice 9 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-7">
    Partie 7 : Variables superglobales, sessions et cookies <i class="triangle-down">▼</i>
    <ul class="main-menu-part-7">
      <li class="main-menu-items">
        <a href="?part=partie7&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie7&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie7&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie7&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie7&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-8">
    Partie 8 : Les dates <i class="triangle-down">▼</i>
    <ul class="main-menu-part-8">
      <li class="main-menu-items">
        <a href="?part=partie8&page=exercice1" class="main-menu-links"> Exercice 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie8&page=exercice2" class="main-menu-links"> Exercice 2 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie8&page=exercice3" class="main-menu-links"> Exercice 3 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie8&page=exercice4" class="main-menu-links"> Exercice 4 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie8&page=exercice5" class="main-menu-links"> Exercice 5 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie8&page=exercice6" class="main-menu-links"> Exercice 6 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie8&page=exercice7" class="main-menu-links"> Exercice 7 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie8&page=exercice8" class="main-menu-links"> Exercice 8 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie8&page=tp" class="main-menu-links"> TP </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-10">
    Partie 10 : TP <i class="triangle-down">▼</i>
    <ul class="main-menu-part-10">
      <li class="main-menu-items">
        <a href="?part=partie10&page=tp1" class="main-menu-links"> TP 1 </a>
      </li>
      <li class="main-menu-items">
        <a href="?part=partie10&page=tp2" class="main-menu-links"> TP 2 </a>
      </li>
    </ul>
  </li>
  <li class="main-menu-items" id="menu-part-galery">
    Galerie JSON <i class="triangle-down">▼</i>
    <ul class="main-menu-part-galery">
      <li class="main-menu-items">
        <a href="?part=galery_part&page=galery" class="main-menu-links"> Galerie </a>
      </li>
    </ul>
  </li>
</ul>
